:root {
  --primary-text-color-blue: #2e2f42;
  --secondary-text-color-white: #ffffff;
  --color-button-iris: #4d5ae5ff;
  --color-button-ocean: #404bbfff;
  --background-color-white: #ffffff;
  --color-text-slate: #434455ff;
  --color-cloud: #f4f4fdff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-text-slate, #434455);
  background-color: var(--background-color-white);
}
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
}
/*! =======HEADER======== */
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}
header {
  border-bottom: 1px solid #e7e9fc;
}
.page-nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
.logo,
.logo-studio {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--color-button-iris);
}
.logo {
  margin-right: 76px;
}
.link {
  text-decoration: none;
}
.logo-studio {
  color: var(--primary-text-color-blue, #2e2f42);
}
.logo:hover,
.logo:focus {
  color: var(--color-button-iris);
}
.logo-web {
  color: var(--color-button-iris);
}
.active:visited {
  color: var(--color-button-ocean);
}
.list {
  list-style: none;
}

.link-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color-blue, #2e2f42);
}
.link-header:hover,
.link-header:focus {
  color: var(--color-button-ocean, #404bbf);
}
.menu:not(:last-child) {
  margin-right: 40px;
}
.address-list {
  display: flex;
  gap: 40px;
}

.address,
.address-phone-mail {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-slate);
}
.address:focus,
.address:hover {
  color: var(--color-button-ocean);
}
/* ======main===== */
.hero-section {
  justify-content: center;
  text-align: center;
}
.hero-container {
  display: flex;
  justify-content: center;
  text-align: center;
  min-width: 1440px;
  background-color: #2e2f42;
}
.hero {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-white);
  width: 496px;
  height: 120px;
  margin-bottom: 40px;
  margin-top: 187px;
}

.button-hero {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--color-button-iris);
  color: var(--secondary-text-color-white);
  cursor: pointer;
  margin-bottom: 188px;
  padding: 16px 32px 16px 32px;
  min-width: 169px;
  height: 56px;
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--color-button-ocean);
}
/*============= Features============ */

.features-list {
  display: flex;
  gap: 24px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.list-container {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-blue);
}
.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--color-text-slate);
}
.caption-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-blue);
  padding-bottom: 72px;
  padding-top: 120px;
}
.section-team {
  background-color: var(--color-cloud);
  min-width: 1440px;
}
.team-background {
  background-color: var(--background-color-white);
}
.card {
  padding-bottom: 32px;
}
.card-height {
  padding-bottom: 120px;
}
.border-shadow {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  text-align: center;
}
.title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-blue);
  padding-top: 32px;
}
.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-slate, #434455);
  padding-bottom: 8px;
  padding-top: 8px;
}

/* .........Footer....... */
.footer {
  background-color: var(--primary-text-color-blue);
  display: flex;
}
.logo-footer {
  color: var(--color-button-iris);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-container {
  width: 115px;
  height: 24px;
  margin-top: 100px;
  margin-bottom: 16px;
}
.text-container {
  display: flex;
  text-align: left;
  width: 264px;
  height: 72px;
}
.logo-studio-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #f4f4fd;
  text-decoration: none;
}
.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-position {
  margin-bottom: 100px;
}
/* //! ============PORTFOLIO =======?// */
.container-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 96px;
  margin-bottom: 72px;
}
.button-list {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  color: var(--color-button-iris);
  background-color: var(--color-cloud, #f4f4fd);
}
.button-list:hover,
.button-list:focus {
  color: var(--secondary-text-color-white);
  background-color: var(--color-button-ocean);
}
.button-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-blue);
}
.button-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8px;
}
.border-about img {
  height: auto;
  width: 100%;
  border: transparent;
  box-sizing: border-box;
}
.about a {
  text-decoration: none;
}
.border-about {
  box-sizing: border-box;
  border: 1px solid #e7e9fc;
}

.border-about:not(:nth-child(n + 7)) {
  margin-bottom: 48px;
}
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 120px;
}
.card-text {
  margin: 32px auto 32px 16px;
}

